<div class="footer ">
    <div class="col-2">
        <h3>Newsletter</h3>
        <form  >
            <input type="text" style="color: black;"  placeholder="Enter your email">
            <button style="background-color: black;">Subscribe</button>
        </form>

    </div>
    <div class="col-1">
        <h3>About Us</h3>
        <a href="">About</a>
        <a href="">Team</a>
        <h3>Contact
        </h3>
        <a href=""><i class="bi bi-envelope-open"></i> a_koushik@cs.iitr.ac.in</a>
        <a href=""><i class="bi bi-telephone"></i> 7816034246</a>
    </div>
    
    <div class="col-3">
        
        <div class="social-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>

</div>